#news-media {
    width:90vw;
    height: 25vh;
    border:3px outset#F4F3F1;
    border-radius:4px;
}

/* .media-heading {
    display: flex;
    justify-content: left;
} */

.component-container {
    display:flex;
    justify-content: center;
}

.col-10 {
    text-align: left;
}

@media only screen and (max-width: 1000px) {
    .news-media{
        width:100%
    }
    .component-container{
        width:100%
    }
}