.big-row {
    display:flex;
    justify-content:wrap;
    width:70vw;
    padding:5px 2px;
    border: 3px solid white;
    border-radius: 5px;
   border-style:outset;
    background-color: white;
}

.detail {
    display: flex;
    justify-content: flex-start
}

.pic {
    width:185px !important
}

.right-button {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left:0px !important;
}
.desc {
    text-align: left;
    font-size:18px;
}

#card {
    width:30vw;
    max-width: 30vw;
    padding:5px !important;
    margin: 15px;
    display: flex;
    justify-content:center
}

div.collapse {
    display: flex;
    justify-content: center
}

div.collapsing {
    display: flex;
    justify-content: center
}

.card-text {
    font-weight: bold
}
.card-container {
    display: flex;
    justify-content:center;
    align-content: center;
}

.car-name {
    font-size: 36px;
    font-weight: bold;
}

#left-table {
    width:  25vw !important;
    margin:10px;
}
#detail-table {
    width:  25vw !important;
}

.tab-content {
    display: flex;
    justify-content: center

}