.big-row {
    display:flex;
    justify-content:wrap;
    width:70vw;
    padding:5px 2px;
    border: 3px solid white;
    border-radius: 5px;
   border-style:outset;
    background-color: white;
}

.detail {
    display: flex;
    justify-content: flex-start
}

.pic {
    width:185px !important
}

.right-button {
    display: flex;
    align-items: center;
    padding-left:0px !important;
}
.desc {
    text-align: left;
    font-size:18px;
}

.card {
    
    max-width: 10vw;
    padding:5px !important;
    margin: 5px;
}

.card-text {
    font-weight: bold
}
.card-container {
    display: flex;
    justify-content:flex-start
}

.car-name {
    font-size: 36px;
    font-weight: bold;
}
