.big-row {
    display:flex;
    justify-content:wrap;
    width:70vw;
    height:38vh;
    padding:5px 2px;
    border: 3px solid white;
    border-radius: 5px;
   border-style:outset;
    background-color: white;
}

.detail {
    display: flex;
    justify-content: flex-start
}

.pic {
    width:185px !important;
    height:28vh;
    max-height: 28vh !important;
    
}

/* .media {
    height:28vh;
    max-height: 28vh !important;
}
*/
.component-body {
    display:flex;
    justify-content: center;
    /* height:28vh;
    max-height: 28vh !important; */
} 

.right-button {
    display: flex;
    align-items: center;
    padding-left:0px !important;
}
/* .desc {
    text-align: left;
    font-size:18px;
} */

.small-card.card.card-body {
    
    max-width: 10vw;
    padding:5px !important;
    margin: 5px;
}

.card-text {
    font-weight: bold
}
.card-container {
    display: flex;
    justify-content:flex-start
}

.car-name {
    font-size: 36px;
    font-weight: bold;
}

.big-row {
    display:flex;
    justify-content:wrap;
    width:70vw;
    padding:5px 2px;
    border: 3px solid white;
    border-radius: 5px;
   border-style:outset;
    background-color: white;
}

.detail {
    display: flex;
    justify-content: flex-start
}

.pic {
    width:185px !important;
    display: flex;
    align-items: center;
}

.right-button {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left:0px !important;
}
.desc {
    text-align: left;
    font-size:18px;
}

.mid-col {
    padding: 10px 5px;
}

.tab-pane.active {
    /* width: 60vw; */
}

.tab-pane.active .col-12{
    width: 50vw;
    height: 50vh;
}

.col-10 {
    display: flex;
    justify-content: center
}

/* .content-col {
    border-left: 3px solid #ABABAB;
} */
.graph-col {
    width: 30vw;
}

.card {
    width:70vw;
    max-width: 70vw;
    padding:5px !important;
    margin: 5px;
}

div.collapse {
    display: flex;
    justify-content: center
}

div.collapsing {
    display: flex;
    justify-content: center
}

.card-text {
    font-weight: bold
}
.card-container {
    display: flex;
    justify-content:flex-start
}

.car-name {
    font-size: 36px;
    font-weight: bold;
}

.table {
    width:  50vw !important;
}
#detail-table {
    width:  50vw !important;
}

.tab-pane {
    display: flex;
    justify-content: center

}

.car-price {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.small-card span {
    font-weight:bold
}

@media only screen and (max-width: 1024px) {
    .big-row {
        width:100%;
        height:100%;
    }

    [class*="col-"] {
        width:100%
    }
    .small-card.card.card-body {
        max-width: none;
    }
    .card-container {
        width:100%;
        display: flex;
       flex-direction: column;
       
    }
   


}

@media only screen and (max-width: 500px) {
    .card-container {
        width:100%;
        display: flex;
       flex-direction: column;
       
    }
   
}