.IndexBackgroud{
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.IndexContainer{
    max-width: 960px;
    margin: auto;
    text-align: center;

}
.fullscreen-video-wrap{
position: absolute;
top:0;
left: 0;
height: 100vh;
width: 100vw;
overflow: hidden;
z-index: -3;

}
.fullscreen-video-wrap video{
    min-width: 100vw;
    min-height: 100vh
}
.contentOverlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: -2;
    opacity: 0.3;
}
.videoContentArea{
   top:0;
   left:0;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
z-index: -1;
}
.videoContent{
    box-sizing: border-box;
    font-size: 1rem;
}

.videoContent h1{
font-size: 3rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 10px;
color: black;
}

.videoContent p{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1px;
    color: black;
}

#indexBtn{
    background: #6c757d;
    color:#fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border: 0px solid ;
    margin-top: 10px;
}
#indexBtn:hover{
    background: #5a6268;
}