
.nav-item{
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLogin >img{
    width: 40px;
    height: 40px;
}
.socialLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
}
.modal-body{
    display: flex;
flex-direction: column;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.loginButton{
    display: flex;
    justify-content: space-around;
}
.loginInof{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.NavIcon{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.ModalFootButton > button{
margin: 10px;
}
.ModalFootButton {
    display: flex;
    justify-content:flex-end;
}
.eye{
    height: 20px;
    width: 20px;
}
.kep-login-facebook.small{
background: transparent;
border: 0px transparent solid;
padding: 0px!important
}
.kep-login-facebook.small>img{
    height: 40px;
    width: 40px;
    padding: 0px!important;
}
.bg-light{
    background: transparent !important;
}