
#root > div > form > div> label{
    display: flex;
    margin: 5px;
}


#carData{
    width: 50%;
}


#priceTrend{
  display: flex;
  justify-content: center;

}
#sidebar{
  position: absolute;
  width: 350px;
  height: 100%;
  left: -350px;
  transition: .1s ;
  background: white;
  top:0;
}


#sidebar.active{
  left: 10px;
}
#sidebar .toggle-btn{
  position: absolute;
  top:50%;
  left: 380px;
}
#pricePostmid{
  display: flex;
  justify-content: center;
  flex-direction: column

}
#siderButton{
box-sizing: border-box;
height: 30px;
width: 30px;
border-radius: 100%;
}

#price_additon{
  display: flex;
  flex-direction: column
}

#ccc123{
  width: 450px;
  height: 450px;
}


