.profile{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}
#profile{
    display: flex;
    justify-content: center;
    align-content: center;
}
.userInfo{
    display: flex;
    margin: 5px;
}
#userIcon{
    box-sizing: border-box;
    border: solid grey 1px ;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-right: 20px
}
#userName{
    display: flex;
    align-items: center;

}
#userName>span{
    font-size:40px
}