.PayPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
#PayPageBox{
    margin-top: 150px;
    display: flex;
    box-sizing: border-box;
    width: 40%;
    height:auto;
    border: 2px gray solid;
    border-radius:10px; 
}
#PayPageLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 0px 10px 10px;
}

#PayPageTittle{
    display: flex;
    justify-content: center;
}
#PayPagepic{
    display: flex;
    align-items: center;
    justify-content: center;
}

#PayPageRight{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    box-sizing: border-box;

}
#PayPageRight >div{
display: flex;
justify-content: space-between;
}
#Pay_button{
display: flex !important;
justify-content: center !important;
}

.ToastsArea{
    background: white !important;
    color: gray !important;
}