.big-row-component {
    display:flex;
    justify-content:wrap;
    width:68vw;
    height: 30vh;
    padding:5px 2px;
    border: 3px solid white;
    border-radius: 5px;
   border-style:outset;
    background-color: white;
}

.detail {
    display: flex;
    justify-content: flex-start
}

.pic {
    position: relative;
    width:160px !important;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: flex-start;
    max-height: 22vh;
}

.right-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:0px !important;
    max-height: 22vh;
}
.desc-core {
    text-align: left;
    font-size:12px;
}

.desc-detail {
    text-align: left;
    font-size:12px;
}

.mid-col {
    padding: 2px 2px;
    max-height: 22vh;
}

.card {
    width:70vw;
    max-width: 70vw;
    padding:5px !important;
    margin: 5px;
}

div.collapse {
    display: flex;
    justify-content: center
}

div.collapsing {
    display: flex;
    justify-content: center
}

.card-text {
    font-weight: bold
}
.card-container {
    display: flex;
    justify-content:flex-start
}

.car-name-core {
    font-size: 20px;
    font-weight: bold;
}

.table {
    width:  50vw !important;
}
#detail-table {
    width:  50vw !important;
}

.tab-content {
    display: flex;
    justify-content: center

}

.detail-toggle {
   width:5vw;
    height: 3vh;
    padding:2px 4px !important;
    font-size: 12px !important;
}

.car-price-core {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.rental-button {
    
}

.detail-com-body {
    display:flex;
    justify-content: center
}

@media only screen and (max-width: 1000px) {
    .right-button{
        width: 100% !important;
        display: flex!important;
          flex-direction: row!important;
      }
    .mid-col{
        width: 100%!important;
      }
    .pic{
        width: 100%!important;
      }
      .big-row-component{
          height:100%;
          display: flex;
          flex-direction: column
      }
      [class*="col-"] {
        width: 100%;
        max-width: 100%!important;
      }
      .more-details-toggle{
        width: 100%;
      }

}