.buttonContainer {
    display:flex;
    justify-content: center
}

.button {
    width:16vw;
}

.space {
    height: 15px
}

@media only screen and (max-width: 768px) {

.button {
    width:100%;
}

}